<style>
    #bemvindo {
    font-size: 65px;
    font-family: 'Exo', sans-serif;
    text-align: center;
    margin: 0px;
    margin-top: 120px;
    margin-bottom: 0px;
    color: white;
    text-shadow: 0px 4px 0px rgba(137, 137, 137, 0.5);
    
}
</style>
<h1 id="bemvindo" >Cadastro concluído</h1>